<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="utf-8" />
    <title>Krzysztof Klich</title>
    <meta name="author" content="KlichK" />




    <link href="~/css/Arkusz.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >


    <div id="container" >
        <div id="logo">
            <h1> Krzysztof Klich</h1>

        </div>



        <div  id="foto">

            <img src="~/zdj/Ja.jpg"  height="400" />


        </div>

        <div class="descr">
            <a> Jestem studentem UE w Katowicach. Obecnie uczę się programowania w ASP .NET MVC. Strona ta została napisana przeze mnie w wyżej wymienionej techonologi</a>

        </div>

        <div id="footer">

            

        </div>
    </div>
</body>


</html>